<div class="container">
    <mat-card>
        <div class="headClass">
            <h2>
                Controle de Recursos
            </h2>
        </div>
        <div class="borderComponente">
            <mat-card-content>
                <form [formGroup]="controleRecursoForm" (ngSubmit)="onFormSubmit()">
                    <table>
                        <tr>
                            <td class="tbl1">
                                <mat-form-field class="demo-full-width">
                                    <input type="text" formControlName="Usuario" matTooltip="Informe o nome do usuário"
                                        matInput placeholder="Usuário que cadastra o controle">
                                </mat-form-field>
                                <mat-error>
                                    <span
                                        *ngIf="!controleRecursoForm.get('Usuario').value && controleRecursoForm.get('Usuario').touched && controleRecursoForm.get('Usuario').errors?.required">
                                        Campo usuário é obrigatório!
                                    </span>
                                </mat-error>
                            </td>
                            <td class="tbl1">
                                <mat-form-field class="demo-full-width">
                                    <input type="number" formControlName="Quantidade" matTooltip="Informe a quantidade"
                                        matInput placeholder="Quantidade">
                                </mat-form-field>
                                <mat-error>
                                    <span
                                        *ngIf="!controleRecursoForm.get('Quantidade').value && controleRecursoForm.get('Quantidade').touched && controleRecursoForm.get('Quantidade').errors?.required">
                                        Campo quantidade é obrigatório!
                                    </span>
                                </mat-error>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <label style='font-weight:bold'>Escolha o Recurso:</label>
                        <mat-selection-list formControlName="Recurso" [multiple]="false">
                            <mat-list-option *ngFor="let recurso of allRecursos | async" [value]="recurso">
                                {{recurso.descricao}}
                            </mat-list-option>
                        </mat-selection-list>
                        <mat-error>
                            <span
                                *ngIf="!controleRecursoForm.get('Recurso').value && controleRecursoForm.get('Recurso').touched && controleRecursoForm.get('Recurso').errors?.required">
                                Campo recurso é obrigatório!
                            </span>
                        </mat-error>
                    </div>

                    <div>
                        <button type="submit" mat-raised-button color="accent" matTooltip="Clique no botão Enviar"
                            [disabled]="!controleRecursoForm.valid">Enviar</button>
                        <button type="reset" mat-raised-button color="accent" matTooltip="Clique no botão Resetar"
                            (click)="resetForm()">Resetar</button>

                        <p *ngIf="dataSaved" style="color:rgb(55, 0, 128);font-size:20px;font-weight:bold"
                            Class="success" align="left">
                            {{message}}
                        </p>
                    </div>
                    <br><br>
                    <table mat-table class="mat-table cdk-table mat-elevation-z8 tableRelatorio">
                        <thead role="rowgroup">
                            <tr role="row" mat-header-row>
                                <th role="rowheader">Descrição do Recurso</th>
                                <th role="rowheader">Quantidade Movimentada</th>
                                <th role="rowheader">Usuario Responsável</th>
                            </tr>
                        </thead>
                        <tbody role="rowgroup">
                            <tr *ngFor="let controleRecurso of allControleRecursos | async" role="row" mat-header-row
                                cdk-header-row>
                                <td role="gridcell" mat-cell>{{controleRecurso.recurso.descricao}}</td>
                                <td role="gridcell" mat-cell>{{controleRecurso.quantidade}}</td>
                                <td role="gridcell" mat-cell>{{controleRecurso.usuario}}</td>
                                <td>
                                    <button type="button" mat-raised-button color="accent" class="btn btn-info"
                                        matTooltip="Clique no botão para Editar"
                                        (click)="loadControleRecursoToEdit(controleRecurso.id)">Editar</button>
                                </td>
                                <td>
                                    <button type="button" mat-raised-button color="accent" class="btn btn-danger"
                                        matTooltip="Clique no botão para Deletar"
                                        (click)="deleteControleRecurso(controleRecurso.id)">Deletar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </mat-card-content>
        </div>
    </mat-card>
</div>