################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

.vs
*.suo
*.user
_ReSharper.*
bin
obj
packages
/ZManagerResources/ZManagerAngular/.vscode
