@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; 

.mat-toolbar
{
    background-color:#422956;
}

.headClass
{
    border-bottom: 1px solid rgba(59,65,81,.3);
}

.tableRelatorio{
    width: 100%;
    text-align: center;
}

.borderComponente{
    border-style:solid;
    border-color: rgba(141, 141, 141, 0.849);
    padding: 20px;
}