<div class="container">
    <mat-card>
        <div class="headClass">
            <h2>
                Home
            </h2>
        </div>
        <mat-card-content>
            <div class="container" style="padding: 20px;">
                <div>
                    <img
                        src="https://1.bp.blogspot.com/-nZGSpAiM8JM/UoajD2jeZuI/AAAAAAAAAR4/YCOT3XpuKDU/s1600/apocalipse-zumbi.jpg" />
                </div>
                <p>

                </p>
            </div>
        </mat-card-content>
    </mat-card>
</div>