<div class="container">
    <mat-card>
        <div class="headClass">
            <h2>
                Home
            </h2>
        </div>
        <mat-card-content>
            <div class="container"
                style="padding: 20px; padding-left: 20px; text-align: justify; text-justify: inter-word;">
                <div>
                    <h3>Zombie Resource</h3>
                    <img
                        src="https://1.bp.blogspot.com/-nZGSpAiM8JM/UoajD2jeZuI/AAAAAAAAAR4/YCOT3XpuKDU/s1600/apocalipse-zumbi.jpg" />
                </div>
                
                <p>Esse projeto foi produzido para o desafio técnico do processo seletivo para a Conta Médica.</p>
                <p>Usei o Angular com Web Api .NET Core, Entity Framework Core.</p>

            </div>
        </mat-card-content>
    </mat-card>
</div>